@charset "utf-8";
/* CSS Document */

/******************************

[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Header
4. Menu
5. Home
6. Blog
7. Newsletter
8. Footer


******************************/

/***********
1. Fonts
***********/

@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700,800,900');

/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

.detail_page{
	margin-top: 50px;
}
.blog-header-blog {
    overflow: auto !important;
}
li.blog-item.fa.fa-search {
    width: 100%;
}
p.term-description {
    font-size: 19px;
    line-height: 32px;
    font-family: "Charlie Display",sans-serif;
    letter-spacing: .3px;
    color: #000;
}
.term-header{
	display: block;
    font-weight: 800;
    text-transform: uppercase;
    font-style: italic;
    font-size: 18px;
    color: #172b4d;
    letter-spacing: .75px;
    line-height: 24px;
    margin-bottom: 8px;
}
.site__desktop-navigation {
    border-top: 1px solid;
}
li.blog-item a {
    color: #17196e;
    text-decoration: none;
}
li.blog-item a:hover {
    color: #fff;
}
li.blog-item:hover {
    background: #58a9dd;
}
li.blog-item.subscribe {
    border-right: 1px solid;
}
li.blog-item {
    padding: 15px 55px;
    text-transform: uppercase;
    background: #ffff;
    border-radius: 40px;
    margin: 10px;
    font-weight: 600;
    font-size: 13px;
}
ul.primary-blog {
    display: -webkit-inline-box;
}
/* width */
::-webkit-scrollbar {
	display: none;
}
.sub_category {
	overflow: auto;
    margin: 0 auto;
}

.inner {
	width: 1140px;
	font-size: 15px;
}
button#left {
	left: 160px;
    top: 16px;
	position: absolute;
    border: none;
    outline: none;

}
button#right {
	top: 14px;
	left: 1375px;
	position: absolute;
    border: none;
    outline: none;
}
.cat_button button {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.cat_button button:hover {
  background-color: #2a86fe;
  color: #fff !important;
}

.previous {
  background-color: #58a9dd;
  color: #fff !important;

}

.next {
  background-color: #58a9dd;
  color: #fff !important;
}

.round {
  border-radius: 50%;
}
.page-item.active .page-link{
	background-color: #58a9dd !important;
    border-color: #58a9dd !important;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	width: 100%;
	overflow: hidden;
}
.prlx_parent
{
	overflow: hidden;
}
.prlx
{
	height: 130% !important;
}
.parallax-window
{
    min-height: 400px;
    background: transparent;
}
.parallax_background {
    position: absolute;
    background: url(/images/background_blog.jpg);
    top: 0;
    background-size: cover;
    background-position: left;
    left: 0;
    width: 100%;
    height: 100%;
}
.parallax_background_blog {
    position: absolute;
    background: url(/images/blog-banner.jpg);
    top: 0;
    background-size: contain;
    left: 0;
    width: 100%;
    height: 100%;
}
.background_image
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
}
.nopadding
{
	padding: 0px !important;
}
.button
{
	height: 46px;
}
.button a
{
	display: block;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 42px;
	font-size: 14px;
	text-transform: uppercase;
	font-weight: 600;
}
.button_1
{
	background: #fff;
	border: solid 2px #58a9dd;
}
.button_1 a
{
	color: #000000;
}
.button_1:hover
{
	background: #58a9dd;
	border: solid 2px #58a9dd;
}
.button_1:hover a
{
	color: #fff;
	text-decoration: none;
}
.button_2
{
	background: transparent;
	border: solid 2px #57ccc3;
}
.button_2 a
{
	color: #57ccc3;
}
.button_2:hover
{
	background: #57ccc3;
}
.button_2:hover a
{
	color: #FFFFFF;
}
.section_subtitle
{
	font-size: 18px;
	font-weight: 500;
	color: #a6abb2;
	line-height: 0.75;
}
.section_title
{
	margin-top: 9px;
}
.intro_text
{
	margin-top: 32px;
}

/*********************************
3. Header
*********************************/


.logo a > div:first-child
{
	font-size: 30px;
	font-weight: 700;
	line-height: 0.75;
	color: #353535;
}
.logo a > div:first-child span
{
	color: #57ccc3;
	margin-left: 7px;
}
.logo a > div:last-child
{
	font-size: 12px;
	color: #969696;
	font-weight: 500;
	line-height: 0.75;
	margin-top: 6px;
}

.header_phone
{
	height: 46px;
	border-radius: 20px;
	background: #57ccc3;
	padding-left: 40px;
	padding-right: 36px;
	line-height: 46px;
	font-size: 14px;
	font-weight: 600;
	color: #FFFFFF;
	margin-right: 12px;
}
.header_phone::selection
{
	background: rgba(64,64,64,0.75);
}
.header_button
{
	margin-right: 16px;
}
.social ul li
{
	width: 34px;
	height: 34px;
	border-radius: 50%;
	background: #e6ebf1;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.social ul li:hover
{
	background: #57ccc3;
}
.social ul li:hover a i
{
	color: #FFFFFF;
}
.social ul li:not(:last-of-type)
{
	margin-right: 15px;
}
.social ul li a
{
	display: block;
	width: 100%;
	height: 100%;
	line-height: 34px;
	margin-top: 9px;
	text-align: center;
}
.social ul li a i
{
	font-size: 16px;
	color: #404040;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger
{
	display: none;
	cursor: pointer;
	border: solid 1px transparent;
	border-radius: 7px;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger:hover
{
	border: solid 1px rgba(0,0,0,0.05);
}
.hamburger i
{
	font-size: 20px;
	color: #404040;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 7px;
	padding-right: 7px;
}

/*********************************
4. Menu
*********************************/

.menu
{
	position: fixed;
	top: 0;
	right: -350px;
	width: 350px;
	height: 100vh;
	background: #57ccc3;
	z-index: 102;
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 50px;
}
.menu.active
{
	right: 0;
}
.menu_overlay
{
	position: fixed;
	top: 0;
	right: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(255,255,255,0.75);
	z-index: 101;
	visibility: hidden;
	opacity: 0;
}
.menu_overlay.active
{
	visibility: visible;
	opacity: 1;
}
.menu_close_container
{
	position: absolute;
    top: 41px;
    left: 28px;
    width: 18px;
    height: 18px;
    transform-origin: center center;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    cursor: pointer;
    z-index: 1;
}
.menu_close
{
    width: 100%;
    height: 100%;
    transform-style: preserve-3D;
}
.menu_close div
{
    width: 100%;
    height: 2px;
    background: #FFFFFF;
    top: 8px;
    -webkit-transition: all 200ms ease;
    -moz-transition: all 200ms ease;
    -ms-transition: all 200ms ease;
    -o-transition: all 200ms ease;
    transition: all 200ms ease;
}
.menu_close div:last-of-type
{
    -webkit-transform: rotate(90deg) translateX(-2px);
    -moz-transform: rotate(90deg) translateX(-2px);
    -ms-transform: rotate(90deg) translateX(-2px);
    -o-transform: rotate(90deg) translateX(-2px);
    transform: rotate(90deg) translateX(-2px);
    transform-origin: center;
}
.menu_close:hover div
{
    background: #1befc5;
}
.menu_nav
{
	margin-top: 75px;
}
.menu_nav ul li:not(:last-child)
{
	margin-bottom: 1px;
}
.menu_nav ul li a
{
	font-size: 24px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_nav ul li a:hover
{
	color: #1befc5;
}
.menu_social
{
	position: absolute;
	bottom: 30px;
	left: 30px;
}
.menu_social ul li:hover
{
	background: #404040;
}
.menu_social ul li:hover a i
{
	color: #FFFFFF;
}
.menu_extra
{
	margin-top: 50px;
}
.menu_extra > div:not(:last-child)
{
	margin-bottom: 5px;
}
.menu_link,
.menu_link a
{
	font-size: 13px;
	font-weight: 500;
	color: rgba(255,255,255,0.75);
}
.menu_link a:hover
{
	color: #FFFFFF;
}

/*********************************
5. Home
*********************************/

.home1
{
	width: 100%;
	height: 525px;
}
.home_overlay
{
	z-index: 1;
}
.home_overlay img
{
	max-width: 100%;
}
.home_container
{
	position: absolute;
	top: 218px;
	left: 0;
	width: 100%;
}
.home_content
{
	max-width: 550px;
}
.home_title
{
	font-size: 60px;
	line-height: 1.2;
	font-weight: 500;
	color: #ffff;
}
.home_text
{
	font-size: 14px;
	font-weight: 500;
	color: #ffff;
	margin-top: 1px;
}

/*********************************
6. Blog
*********************************/

.blog
{
	background: #FFFFFF;
	padding-top: 91px;
	padding-bottom: 83px;
}
.blog-detail{
	padding-top: 91px;
    padding-bottom: 83px;
}
.blog_post:not(:last-child)
{
	margin-bottom: 87px;
}
.blog_post_image
{
	width: 100%;
	height: 300px;
	overflow: hidden;
}
.blog_post_image-my
{
	width: 100%;
	border-radius: 40px;
	top: 40px;
	overflow: hidden;
}
.blog_post_text.text-center {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    line-height: 16px;
    max-height: 80px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.text-center-des{
	text-align: justify;
}
.blog_post_image img
{
	max-width: 100%;

}
.blog_post_date
{
	position: absolute;
	top: 8px;
	left: 9px;
	width: 90px;
	height: 118px;
	background-color: #57ccc3;
	border-radius: 40px;
	border: solid 2px #eaf2f5;
}
.blog_post_date > div
{
	font-weight: 600;
	color: #FFFFFF;
	line-height: 0.75;
}
.date_day
{
	font-size: 42px;
}
.date_month,
.date_year
{
	font-size: 12px;
}
.date_month
{
	margin-top: 10px;
}
.date_year
{
	margin-top: 11px;
}
.blog_post_title
{
	text-align: center;
	margin-top: 45px;
	white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.blog_post_title a
{
	font-size: 30px;
	font-weight: 600;
	color: #404040;
	line-height: 1.2;
}
.blog_post_title a:hover
{
	color: #0056b3;
	text-decoration: none;
}
.blog_post_info
{
	margin-top: 9px;
}
.blog_post_info ul li:not(:last-child)
{
	margin-right: 24px;
}
.blog_post_info ul li,
.blog_post_info ul li a
{
	font-size: 14px;
	font-weight: 600;
	color: #868686;
}
.blog_post_info ul li a
{
	color: #57ccc3;
}
.blog_post_info ul li a:hover
{
	color: #fd556d;
}
.blog_post_text
{
	margin-top: 32px;
}
.blog_post_button
{
	margin-top: 38px;
	margin-bottom: 38px;
}
.blog_post_button > div
{
	display: inline-block;
}
.page_nav
{
	margin-top: 85px;
}
.page_nav ul li a
{
	font-size: 16px;
	font-weight: 600;
	color: #404040;
}
.page_nav ul li:not(:last-child)
{
	margin-right: 10px;
}
.page_nav ul li.active a,
.page_nav ul li a:hover
{
	color: #57ccc3;
}

/*********************************
7. Newsletter
*********************************/

.newsletter
{
	padding-top: 56px;
	padding-bottom: 82px;
}
.newsletter_title
{
	font-size: 30px;
	font-weight: 500;
	color: #fff;
	line-height: 1.2;
}
.newsletter_row
{
	margin-top: 54px;
}
.newsletter_input
{
	width: calc(100% - 150px);
	height: 46px;
	background: transparent;
	border: solid 2px #e6ebf1;
	color: #FFFFFF;
	padding-left: 34px;
	outline: none;
}
.newsletter_input::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input:-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::-moz-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
} 
.newsletter_input:-ms-input-placeholder
{ 
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_input::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400 !important;
	font-style: italic;
	color: #FFFFFF !important;
}
.newsletter_button
{
	position: absolute;
	top: 0;
	right: 0;
	width: 145px;
	height: 46px;
	background: #fd556d;
	cursor: pointer;
	border: none;
	outline: none;
	font-size: 14px;
	font-weight: 600;
	color: #fff;
	text-transform: uppercase;
}

/*********************************
8. Footer
*********************************/
footer.footer {
    background: #eeeae6;
}
.col-lg-3.footer_col {
    margin-top: 46px;
}

footer.footer {
    background: #f6f7fa;
}
li {
    list-style: none;
}
.col-lg-3.footer_col {
    margin-top: 46px;
}
.col-lg-6.footer_col {
    margin-top: 46px;
}
.col-sm-4.footer_col {
    margin-top: 46px;
}
ul.contact_list {
       padding-left: 0px;
}
.copyright {
    margin: 0px auto;
}
ul.d-flex.flex-row.align-items-center.justify-content-start {
    padding: 0px;
   }
 ul.d-flex.flex-row.align-items-center.justify-content-start li {
    margin: 5px;
}
.newsletter-form-wrapper .newsletter-form-field-element {
    background: none;
    padding: 30px 40px 10px 15px;
    border-left: none;
    border-right: none;
    border-top: none;
    border-color: #313131;
    outline: none;
    float: left;
}
button.newsletter-form-button {
    border-width: .3px !important;
    background: #f6f7fa;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
    letter-spacing: 3px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    outline: none;
    border-color: black;
    font-weight: bold;
}
button.newsletter-form-button {
    border-width: .3px !important;
    background: #f6f7fa;
    margin-left: 10px;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 10px;
    letter-spacing: 3px;
    padding-top: 15px !important;
    padding-bottom: 15px !important;
    outline: none;
    border-color: black;
    font-weight: bold;
}
button.newsletter-form-button:hover, .social i.fa:hover {
    opacity: .8;
    cursor:pointer;
}
.social i.fa {
    background: #222;
    padding: 5px 7px;
    color: #e4d8d8;
    font-size: 12px;
    border-radius: 50%;
}
.contact_list li p a{
    color: #58595b;
    -webkit-transition: color .15s ease-out;
    -moz-transition: color .15s ease-out;
    -ms-transition: color .15s ease-out;
    -o-transition: color .15s ease-out;
    transition: color .15s ease-out;
    padding-bottom: .05em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgba(88,89,91,.3);
    -webkit-transition: border-color .15s ease-out,color .15s ease-out;
    -moz-transition: border-color .15s ease-out,color .15s ease-out;
    -ms-transition: border-color .15s ease-out,color .15s ease-out;
    -o-transition: border-color .15s ease-out,color .15s ease-out;
    transition: border-color .15s ease-out,color .15s ease-out;
}
ul.contact_list li p a:hover{
    color: rgba(88,89,91,.6);
    border-color: rgba(88,89,91,.15);
}
ul.contact_list p {
    font-family: baskerville-urw;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    letter-spacing: .02em;
    line-height: 1.8em;
    text-transform: none;
    color: #58595b;
}


.col-sm-6.blog_post_image-my img {
    max-width: 100%;
    height: 350px;
}
.footer_col {
    margin-top: 46px;
}
.blog_post {
    padding: 5px;
}
.blog_post:hover {
    box-shadow: 0 10px 30px rgba(0,0,0,.1);
    transition: all .3s ease 0s;
}

.main_text_blog p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    line-height: 16px;
    max-height: 80px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.main_image_blog {
    height: 315px;
    overflow: hidden;
}
