span.menu-icon.fas.fa-globe {
    margin-right: 5px;
}
button.mobile-globe.fas.fa-globe.toggle-original {
    background: transparent;
    color: #0052cc;
    border: none;
    font-size: 40px;
}
.rd-navbar-static .rd-nav-link{
    color: #0052cc !important;
    font-weight: 500 !important;
    text-transform: capitalize !important;
}
.rd-navbar-static .rd-nav-item>.rd-navbar-submenu-toggle{
    color: #0052cc !important;
    text-transform: capitalize !important;
    
}
.menu-icon:before {
    color: #0052cc !important;
}
.menu-label {
    padding: 0 10px;
    font-size: 18px;
}
.rd-dropdown-item.active a.rd-dropdown-link{
    color: #0052cc;
}
.rd-dropdown-item.active a.rd-dropdown-link::before {
    position: relative;
    top: -1px;
    left: -6px;
    display: inline-block;
    content: '\f105';
    font-family: fontawesome;
    font-size: inherit;
    line-height: inherit;
    color: #0052cc;
    opacity: 0;
    left: -7px;
    opacity: 1;
    visibility: visible;
}
.rd-navbar-main-element {
    position: absolute;
    right: 10px;
    top: 18px;
}
.goog-te-gadget .goog-te-combo {
    height: 45px;
    font-size: 18px;
    padding: 0px 10px;
}
.otp-modal-change{
    display: none !important;
}
a#ui-to-top {
    display: none;
}
.rd-navbar-brand {
    text-align: center;
    padding: 10px 0;
}
span.gallery-item-title {
    font-size: 18px;
    color: #000000;
}
.blog-prag {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    max-height: 50px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.box-video {
    max-width: 100%;
}
.fb_iframe_widget span {
    height: 50px !important;
    width: 100px !important;
}
.fb_iframe_widget iframe {
    height: 50px !important;
    width: 100px !important;
}
.inlineBlock._2tga._89n_._8j9v {
    height: 40px !important;
    width: 100px !important;
    font-size: 18px !important;
}
.row.justify-content-md-center.row-30 {
    background: radial-gradient(black, #ff7c7c40);
}
h4.box-icon-modern-title {
    text-transform: capitalize;
}
.box-service-modern-img {
    max-height: 309px;
}
.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}
.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}
.post-corporate-caption p {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-inline-box;
    max-height: 80px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
ul.list-marked li a {
    text-transform: capitalize;
    padding-left: 12px;
}
i.fa.fa-search-plus {
    display: none;
}
.modal-dialog {
    margin: 65px auto;
}
.slide-bg {
    background-position: top;
}
.icon-classic-body {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    height: 65px;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.intro_form_title {
    position: absolute;
    top: 0;
    left: 0;
    width: 290px;
    height: 55px;
    background: #0052cc;
    line-height: 55px;
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    color: #FFFFFF;
}
.select2-container.form-input {
    display: none !important;
}
article.box-icon-modern.modern-variant-2 p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.icon-modern img {
    min-height: 90%;
}
@media only screen and (max-width: 1196px){
    .box-icon-classic-vertical {
        padding: 30px 0;
    }
}
@media only screen and (max-width: 1025px){
    .resp-video #myVideo {
        top: 34%;
    }
    section.section.parallax-container.experience {
        background-size: contain !important;
        background-position: center;
        background-repeat: no-repeat;
    }
    .section-lg {
        padding: 50px 0 !important;
    }
    .section-xl {
        padding: 50px 0 !important;
    }
    section#haruyosi_about {
        padding: 50px 0;
    }
}
@media(min-width: 900px){
    header.section.page-header {
        height: 130px;
    }
}
@media only screen and (max-width: 990px){
    .rd-navbar-toggle span:after, .rd-navbar-toggle span:before, .rd-navbar-toggle span{
        display: none !important;
    }
    .menu-icon {
        display: none;
    }
    span.menu-label {
        color: #000000;
        padding: 0px 15px;
    }
    .goog-te-gadget .goog-te-combo {
        width: 90% !important;
    }
    html.rd-navbar-fixed-linked .page{
        padding-top: initial !important;
    }
    a.brand {
        text-align: center;
    }
    div#google_translate_element {
        right: 10px;
        top: 3px;
    }

    *+.box-icon-modern-title {
        margin-top: 0px !important;
    }
    .gallery-item{
        height: auto !important;
    }
    .gallery-item img {
        height: 250px !important;
    }
    .box-icon-classic.box-icon-classic-vertical {
        margin: auto;
    }
    .section-text .block-xs {
        max-width: fit-content !important;
    }
    .schedule-part .container {
        max-width: fit-content !important;
    }
    .rd-navbar-brand {
        margin: 0 auto !important;
        padding-right: 48px;
    }
    .rd-navbar-fixed .rd-navbar-brand img {
        padding: 5px 0;
    }
    .divider-menu.active {
        display: none;
    }
}
@media only screen and (max-width: 769px){
    .rd-navbar-brand {
        margin: 0 auto;
        padding-right: 48px;
    }
    .rd-navbar-brand {
        margin-left: auto !important;
    }
    .quote-image img {
        max-width: 30%;
    }
}
@media only screen and (max-width: 426px){
    .goog-te-gadget .goog-te-combo {
        height: 45px;
        font-size: 14px;
        padding: 0px 5px;
    }
    a.goog-logo-link {
        display: flex;
    }
    .goog-te-gadget .goog-te-combo {
        width: 85% !important;
        margin: 12px 0 !important;
    }
    div#google_translate_element {
        right: -15px;
    }
    .resp-video #myVideo {
        top: 0;
    }
    a.chat-logo {
        right: 20px !important;
        bottom: 20px !important;
    }
    .social-block.my-footer-link ul li {
        padding: 0 5px;
    }
    .box-icon-classic.box-icon-classic-vertical {
        margin-top: 30px;
    }
    section.section.parallax-container.experience {
     background-size: cover !important;
 }
 .quote-image img {
    max-width: 100%;
}
.form-wrap input {
    margin-bottom: 20px !important;
}
.quote-image img {
    max-width: 500%;
}
.box-counter-title{
    font-size: 12px;
}
h4.box-icon-modern-title {
    margin: 0 0 30px 0;
}
}
@media only screen and (max-width: 325px){
    .goog-te-gadget .goog-te-combo {
        width: 85% !important;
        margin: 15px 0 !important;
    }

    .goog-te-gadget .goog-te-combo {
        height: 39px;
        font-size: 12px;
        padding: 0px 0px;
    }
}